.galeria {
  display: grid;
  gap: 10px;
}
.grid-5 {
    grid-template-columns: repeat(4, 2fr);
    align-items: center;
    justify-content: center;
    
  }
  .title{ color: rgb(56, 54, 54);
  font-weight:bold;
font-size: x-large;
padding-bottom: 10px;
border-bottom: solid 1px;
}

.ingredientes{border-bottom: solid 1px;
}

.ingrediente{text-decoration:none;
  list-style: none;}

 .price{color: black;
  display: flex;
padding-right: 1em;
justify-content: space-around;}

.buttons{display: flex;
padding-right: 1em;
justify-content: space-around;}

.button1{padding-right: 1em;}